body{
    background: url(/image/background.jpg) center fixed;
    background-size: 200%;
    font-family: "Baskervville";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.workingArea{
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 50%;
    background: #f7f4ee
}

.thumbnail {
    width: 23%;
    text-align: center;
    float: left;
    margin-top: 35px;
    background-color: rgba(255,255,255,0.5);
    padding-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 3px;
    padding-top: 20px;
    border-bottom: 4px solid #5D5E5D;
}
.login-page {
    width: 380px;
    padding: 10% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #F7F4EE;
    max-width: 380px;
    margin: 0 auto 120px;
    padding: 50px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Baskervville";
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 2px solid #826D6D;
    border-radius:8px;
    margin: 0 0 14px;
    padding: 14px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Baskervville";
    text-transform: uppercase;
    outline: 0;
    background: #826D6D;
    width: 100%;
    border: 0;
    border-radius: 10px;
    margin: 0 0 12px;
    padding: 13px;
    color: #FFFFFF;
    font-size: 12px;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #9d8383;
}
