<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Добавление задачи</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
<div class="workingArea">
    <div class="container">
        <form action="#" th:action="@{/requests}" method="get">
            <div class="row">
                <button class="btn btn-light" style="width: fit-content; margin-left: 95%; margin-top: 5%; transform: translate(-100%, 0)">Назад</button>
            </div>
        </form>
        <div class="row">
            <h2 style="text-align: center; margin-top: 5%">Добавление задачи</h2>
        </div>
        <form action="#" th:action="@{/requests/add}" th:object="${request}" method="post">
            <div class="row">
                <input type="text" id="museumName" th:field="*{museumName}" placeholder="Введите название музея" style="margin-top: 10%; margin-left: 10%; width: 80%">
            </div>
            <div class="row">
                <button class="btn btn-light" type="submit" style="margin-left: 35%; margin-bottom: 10px; margin-top: 10px; width: 30%">Добавить</button>
            </div>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>
